@model Domin.Entities.Department

@{
    ViewData["Title"] = "Create";
}

 <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6" >
                <h1 class="m-0 text-dark">الاقسام</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">الرئيسية</a></li>
                  <li class="breadcrumb-item active">إظافة قسم</li>
                  
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>

<hr />



<div class="card card-info">
    <div class="card-header ">
        <h4 class="d-sm-inline-block">إظافة موظف جديد </h4>
    </div>
    <div class="card-body">
       <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label"> @Resource.DepartmentName</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">@Resource.Details</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resource.Adding" class="btn btn-info form-control" />
                  <a asp-action="Index" class="btn btn-outline-warning form-control mt-1">@Resource.Back</a>
            </div>
        </form>
    </div>
</div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
